//

.containerDocumentos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.principalContainerRadioID {
  display: flex;
  align-items: center;
  height: 47px;
  width: 126px;



  .labelButton {
    border: 1px solid $border-box-color;
    height: 47px;
    width: 102px;
    border-radius: 4px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    .textTipoDoc {
      font-size: 14px;
      color: $text-color;
      padding-top: 15px;
    }
  }

  input[type="radio"] {
    &:checked + label {
      border: solid 3px #ad88c6;
      background: #fff;
      transition: transform 0.5s;
    }
  }
}

