//

.containerDocumentos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.principalContainerRadioID {
  display: flex;
  align-items: center;
  height: 47px;
  width: 126px;

  .textTipoDoc {
    font-size: 14px;
    color: $text-color;
  }

  .labelButton {
    border: 1px solid $border-box-color;
    height: 47px;
    width: 102px;
    border-radius: 4px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="radio"] {
    &:checked + label {
      border: solid 3px #ad88c6;
      background: #fff;
      transition: transform 0.5s;
    }
  }
}

// .containerRadioID {
//   border: 1px solid $border-box-color;
//   height: 47px;
//   width: 102px;
//   border-radius: 4px;
//   margin: 5px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .containerRadioIDPasaporte {
//   border: 1px solid $border-box-color;
//   height: 47px;
//   width: 126px;
//   border-radius: 4px;
//   margin: 5px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
